
<h2 class="center">全てのアイスブレイク</h2>

<% @icebreaks.each do |icebreak| %>
  <p class="list"><%= link_to(icebreak.name, "/icebreaks/#{icebreak.id}") %></p>
  <br>
<% end %>

<%= link_to("マイページ", "/") %>
