<h2 class="center">コメント編集画面</h2>

<div class="center">  

<%= form_tag("/comments/#{@comment.id}/update") do %> 
  <textarea name="content" value=""><%= @comment.content %></textarea>
  <br>

  <p>評価</p>
    <select name="star" >
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    </select>
  
  <br><br>
  
  <input type="submit" value="保存">     
<% end %>

</div>

<p><%= link_to("戻る", "/comments/#{@comment.id}") %></p>
<p><%= link_to("アイスブレイク一覧へ", "/icebreaks") %></p>